# Ignore all image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.ico
*.webp
*.tiff
*.tif

#Video Files
*.mp4
*.avi
*.mkv
*.flv
*.wmv
*.mov
*.webm



# Ignore all zip files
*.zip

__pycache__/



venv/




.gitignore
.vscode/*
