




*.zip

#Database folder

Database/*



#images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff


#venv folder
venv/

#pycache folder
__pycache__/

.vscode/


!runs/
!runs/**/*.jpg
!runs/**/*.png
!runs/**/*.gif

